@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0A0A0A;
  margin: 0;
  font-family: 'Geist';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
