@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0A0A0A;
  margin: 0;
  font-family: 'Geist';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  overflow: auto;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

body::-webkit-scrollbar-button,
html::-webkit-scrollbar-button {
  background: #0A0A0A;
}

body::-webkit-scrollbar-track,
html::-webkit-scrollbar-track {
  background: #0A0A0A;
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
  border: 1px solid dimgray;
  background: #18181B;
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover,
html::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

body::-webkit-scrollbar-thumb:active,
html::-webkit-scrollbar-thumb:active {
  background: #52525b;
}

.ag-root ::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.ag-root ::-webkit-scrollbar-button {
  background: #0A0A0A;
}

.ag-root ::-webkit-scrollbar-track {
  background: #0A0A0A;
  border-radius: 6px;
}

.ag-root ::-webkit-scrollbar-thumb {
  border: 1px solid dimgray;
  background: #18181B;
  border-radius: 6px;
}

.ag-root ::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

.ag-root ::-webkit-scrollbar-thumb:active {
  background: #52525b;
}